[project]
	description = "Jenkins plugin; Used for multiple string selected"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/adamxu0220
[access "refs/for/refs/*"]
	read = group user/adamxu0220
	push = group user/adamxu0220
	label-Code-Review = -2..+2 group user/adamxu0220
	label-Verified = -1..+1 group user/adamxu0220
	rebase = group user/adamxu0220
	removeReviewer = group user/adamxu0220
	submit = group user/adamxu0220
[access "refs/heads/*"]
	read = group user/adamxu0220
	create = group user/adamxu0220
	push = +force group user/adamxu0220
	pushMerge = group user/adamxu0220
[access "refs/tags/*"]
	push = group user/adamxu0220
	push = +force group user/adamxu0220
